---
import { readItems } from "@directus/sdk";
import { client, type Ticket } from "../../../lib/directus";
import { formatDateToLocale } from "../../../utils";
import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
  const events = await client.request(readItems("events"));
  const tickets = await client.request(readItems("tickets"));

  return events.map((event) => {
    const eventTicket = tickets.find((ticket) => ticket.eventId === event.id);
    return {
      params: {
        id: event.id.toString(),
      },
      props: {
        event,
        ticket: eventTicket as Ticket,
      },
    };
  });
}

const { title, description, dateOfEvent, location } = Astro.props.event;
const { type, price } = Astro.props.ticket;
---

<Layout title="Event" description="">
  <div class="max-w-4xl mx-auto bg-white p-8 rounded-lg shadow-md my-10">
    <h1 class="text-2xl font-bold mb-4">{title}</h1>
    <div class="event-details mb-6">
      <p class="mb-2">
        <strong>Description:</strong>
        {description}
      </p>
      <p class="mb-2">
        <strong>Date and Time: </strong>
        <span>{formatDateToLocale(dateOfEvent).day}</span>
        <span>{formatDateToLocale(dateOfEvent).month}</span>
        <span>{formatDateToLocale(dateOfEvent).time}</span>
      </p>
      <p class="mb-2"><strong>Location:</strong> {location}</p>
    </div>
    <div class="ticket-info mb-6">
      <h2 class="text-xl font-semibold mb-2">Tickets</h2>
      <p class="mb-2">
        <strong>Type:</strong>
        {type ? type : "General Admission"}
      </p>
      <p class="mb-2"><strong>Price:</strong> ${price ? price : "150"}</p>
      <div class="mb-4">
        <label for="quantity" class="block mb-1"
          ><strong>Quantity:</strong></label
        >
        <input
          type="number"
          id="quantity"
          class="border border-gray-300 p-2 rounded w-full max-w-xs"
          value="1"
          min="1"
          max="10"
        />
      </div>
    </div>
    <a
      href="#"
      class="purchase-button inline-block bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600"
      >Purchase Ticket</a
    >
  </div>
</Layout>
